@charset "UTF-8"


html,body,div,ul,li,label,h3
	margin 0
	padding 0


html,body
	height 100%
	font-size 14px

ul li
	list-style none

input
	outline none
	
.login
	padding 30px 22px
	li
		height 48px
		line-height 48px
		display -webkit-flex
		display flex
		border-bottom 1px solid #ddd
		.login-label
		.login-input
			height 100%
		.login-label
			width 20%
		.login-input
			width 80%
			border none
		
		



.list-tab
	padding 0 10px
	li
		text-align center
		h3
			padding 10px 0
		div
			display -webkit-flex
			display flex
			justify-content center
			flex-direction: column
			span
				background-color #409eff
				border 1px solid #b3d8ff
				border-radius 5px
				text-align center
				padding 10px 0
				flex 1
				margin 2px 0
				color #fff
				&.active
					background-color #66b1ff
				
			